
.navbar{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    background-color: #1E1F20;
  }
  .navbar a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 10px;
    color: #F7F3E3;
  }

.links {
  background-color: #1E1F20;
}

.links a:hover{
    display: inline;
    background-color: #0096FF;
}

  .topnav-right {
    float: right;
  }